<nav class="navbar">
    <div class="flex1">
        <h2 class="appName navElement">App Name Here</h2>
    </div>

    <div class="flex2">
        <h4 class="userActive navElement">User Name Here</h3>
        <h4 class="userWallet navElement">User Wallet Here</h4>
    </div>
</nav>