<nav class="navbar">
    <div class="flex3">
        <img class="sharkLogo1" src="./images/sharkLogo.png" alt="SharkLogo">
        <h2 class="appName1 navElement">Odds Shark&#48;</h2>
    </div>
</nav>