<nav class="navbar">
    <a href="/dashboard" class="dashboardLink">Dashboard</a>
    <a href="/logout" class="logout">Sign Out</a>
    <div class="flex1">
        <img class="sharkLogo" src="./images/sharkLogo.png" alt="SharkLogo">
        <h2 class="appName navElement">Odds Shark&#48;</h2>
    </div>

    <div class="flex2">
        <h4 class="userActive navElement">Profile: {{userName}}</h3>
    </div>
</nav>