<!DOCTYPE html>
<html>
<head>
	<title>Passport with Sequelize</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
</head>
<body>
<div class="row">
  <div class="col-12 games"></div>
</div>
<script>
  var today = moment(new Date(), "YYYY/MM/DD").format("YYYY/MM/DD");
  var findResults = function() {

  setTimeout(
    function() {
      var winners = [];
      var losers = [];
      $.ajax({
        url: "https://cors-everywhere.herokuapp.com/http://api.sportradar.us/mlb/trial/v6.5/en/games/" + today + "/boxscore.json?api_key=v9sa2vk6h75y3kmyj32mudj8",
        type: "GET",
        success: function(res) {
          for (var j = 0; j < res.league.games.length; j++) {
            var thisGame = res.league.games[j];
            var homeTeam = thisGame.game.home.name;
            var awayTeam = thisGame.game.away.name;
            var homeScore = thisGame.game.home.runs;
            var awayScore = thisGame.game.away.runs;

            var winner;
            var findWinner = function() {
              if (homeScore > awayScore) {
                winner = homeTeam
              } else {
                winner = awayTeam
              };
            };

              function updateGames(games) {
                $.ajax({
                  method: "PUT",
                  url: "/api/games",
                  data: games
                }).then(getGames);
              };

              

              var newResult = {
                game_result: winner
              };

              $.put("/api/games", newResult).then(function() {
                console.log("New game added");
                console.log(newResult);
              });

              if (homeScore > awayScore) {
                winners.push(homeTeam);
                losers.push(awayTeam);
              } else {
                winners.push(awayTeam);
                losers.push(homeTeam);
              }
            };
            console.log("Winners:");
            console.log(winners);
            console.log("Losers:");
            console.log(losers);
          }
        });
      }, 1500);
      
};


  // THis here is console logging  the ID of the user that is signed in... when wanting to reference the user we can use {{userid}}--- this is becuase it was passed in authcontroller.js
  function showUserID(){
    console.log({{userid}});
    console.log({{userWallet}})
  }
  showUserID();
            
  //-------------------------------------------------

var postGames = function(gameData) {
    $.post("/api/games", gameData)
    .then(getGames);
  };

  var getGames = function() {
    $.ajax({
      url: "https://cors-everywhere.herokuapp.com/http://api.sportradar.us/mlb/trial/v6.5/en/games/2018/07/02/schedule.json?api_key=v9sa2vk6h75y3kmyj32mudj8",
      type: "GET",
      success: function(data) {
        // console.log(data.games.length);
        for (var i = 0; i < data.games.length; i++) {
          var homeTeams = [];
          var awayTeams = [];
          var awayTeam = data.games[i].away.name;
          var homeTeam = data.games[i].home.name;

          homeTeams.push(homeTeam);
          awayTeams.push(awayTeam);
          // var createDiv = $("<div style='text-align: center;'><h1>Game " + gameNum + "</h1><br></div>");
          // createDiv.append("<p>HOME TEAM:</p>" + "<button class=allTeams>" + homeTeam + "</button>" + "<p> vs </p>" + "<p>AWAY TEAM:</p>" + "<button class=allTeams>" + awayTeam + "</button>" + "<hr>")
        }
      }
    });
  };

var showAction = function() {
  var homeTeams = [];
  var awayTeams = [];
  var createDiv = $("<div class='card text-center'></div>");

  $(".loginPrompt").empty();
  $.ajax({
    url: "https://cors-everywhere.herokuapp.com/http://api.sportradar.us/mlb/trial/v6.5/en/games/" + today + "/schedule.json?api_key=v9sa2vk6h75y3kmyj32mudj8",
    type: "GET",
    success: function(data) {
      console.log(data.date);
      console.log(data.games.length);
      // console.log(data.games.length);
      for (var i = 0; i < data.games.length; i++) {
        var gameNum = [i + 1];
        var awayTeam = data.games[i].away.name;
        var homeTeam = data.games[i].home.name;
        var gameStatus = data.games[i].status;
        var gameDate = data.date

        var newGame = {
          home_team: homeTeam,
          away_team: awayTeam,
          game_status: gameStatus
        };

        $.post('/api/games', newGame).then(function() {
          console.log("New game added");
          console.log(newGame);
        });

        homeTeams.push(homeTeam);
        awayTeams.push(awayTeam);

        // var createDiv = $("<div style='text-align: center;'><h1>Game " + gameNum + "</h1><br></div>");
        // createDiv.append("<p>HOME TEAM:</p>" + "<button class=allTeams>" + homeTeam + "</button>" + "<p> vs </p>" + "<p>AWAY TEAM:</p>" + "<button class=allTeams>" + awayTeam + "</button>" + "<hr>");
        createDiv.append(
          `<div class='card-header'>Game:  
            ${gameNum} </div><div class='card-body'><div class='row'><div class='col-6'><button type='button' data-teamName = ${homeTeam} class='btn btn-success bet-button'> 
            ${homeTeam} 
            </button></div><div class='col-6'><button type='button' data-teamName = ${awayTeam} class='btn btn-success bet-button'> 
            ${awayTeam} 
            </button></div></div></div><div class='card-footer text-muted'>Status:
            ${gameStatus} 
            </div><br>`
        );

        $(".games").append(createDiv);
      }
    }
  });
  postGames();
};


  showAction();
 // findResults();

  // $.post("/api/userinfo", {
  //   username: userName,
  //   password: userPassword
  // }).then(function(data){
  //   window.location.replace(data);
  // }).catch(function(err){
  //   console.log(err);
  // });

  // showAction();
// });
$(document).ready(function() {
  console.log("ready");

  $(".bet-button").click(function(){
    console.log("cool");
    console.log($(this).data);
  })
})

</script>
</body>
</html>