* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1D1B1B;
  background: linear-gradient(#1D1B1B, #353434);
}

.container {
  height: 100vh;
  display: flex;
}

.container .signIn {
  justify-content: center;
}

.box {
  padding: 70px;
  background-color: #131317;
  border: 1px black solid;
}

.header {
  color: red;
  margin-bottom: 20px;
}

.inputs {

  width: 100%;
  line-height: 15px;
  padding: 5px;
}

.inputs.btn {
  line-height: 30px;
}

#password {
  margin-bottom: 20px;
}

.labels {
  margin-top: 20px;
  font-size: 1em;
  color: white;
}

.btn {
  margin-top: 30px;
  border-radius: 20px;
  background: red;
  color: white;
  font-size: 1em;
  border: none;
}

.btn:hover {
  color: white;
}

.btn:focus {
  border-color: white;
}

.auth-form {
  margin: auto;
}

.signUpHeader {
  color: #ffffff;
}

.left {
  flex: 1;
  margin: auto;
}

.signUp {
  flex: 1;
  margin: auto;
}