* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #1D1B1B;
  background: linear-gradient(#1D1B1B, #353434) center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sportsCenter;
  letter-spacing: .1em;
}
@font-face {
  font-family: logoFont;
  src: url(../fonts/Brannboll.ttf)
}
@font-face {
  font-family: sportsCenter;
  src: url(../fonts/Sportscenter.ttf)
}
.container {
  height: 100vh;
  display: flex;
}

.signIn {
  justify-content: center;
  margin-top: -100px;
}
.box {
  padding: 100px;
  background-color: #131317;
  border: 1px #000000 solid;
}
.header {
  color: #ff0000;
  margin-bottom: 20px;
  text-align: center
}
.copy {
  padding-bottom: 20px;
  margin-top: 75px;
  color: #ffffff;
  text-align: center;
}
.card-header {
  border-bottom: 1px solid #ffffff;
  font-size: 30px;
  color: #ff0000;
  background-color: #131317;
}
.inputs {
  width: 100%;
  line-height: 1.5em;
  padding: 5px;
}
.inputs.btn {
  line-height: 30px;
}
#password {
  margin-bottom: 20px;
}
.labels {
  margin-top: 20px;
  font-size: 1.5em;
  color: #ffffff;
}
.btn {
  margin-top: 30px;
  border-radius: 20px;
  background: #ff0000;
  color: #ffffff;
  font-size: 1em;
  border: none;
}
.btn:hover {
  color: #ffffff;
}
.btn:focus {
  border-color: #ffffff;
}
.auth-form {
  margin: auto;
}
.signUpHeader {
  color: #ffffff;
}
.left {
  flex: 1;
  margin: auto;
}
.signUp {
  flex: 1;
  margin: auto;
}
/* Nav Bar partial */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 100px;
  background-color: #000000;
  border-bottom: 2px #f5f5f5 solid;
}
.logout {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #ff0000;
}
.logout:hover {
  text-decoration: none;
  color: #b31313;
}
.flex1 {
  margin: 0 5%;
  margin: auto;
  display: inline-flex;
  margin-bottom: 50px;
}
.flex2 {
  flex-direction: column;
  margin: 0 5%;
  margin: auto;
}
.flex3 {
  margin: auto;
  margin-bottom: 20px;
}
.navElement {
  color: #f5f5f5;
}
.appName {
  font-size: 4rem;
  font-family: logoFont;
  color: #ff0000;
  margin: auto;
  text-shadow: 2px 1px #7e7e7e;
}
.appName1 {
  margin-top: 20px;
  font-size: 4rem;
  font-family: logoFont;
  color: #ff0000;
  margin: auto;
  text-shadow: 2px 1px #7e7e7e;
}
.sharkLogo {
  margin-right: 20px;
}
.sharkLogo1 {
  margin: auto;
  transform: translateX(100px);
}
/* Modals */
.modal1 {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 25%; */
  /* height: 55%; */
  background-color: #dcdcdc;
  border: #ffffff 1px solid;
  color: #000000;
}
.modalHeader {
  color: #ff0000;
  padding: 20px;
  background-color: #131317;
  text-align: center;
  border-bottom: #ffffff 1px solid;
}
.modalContent {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 10%;
  font-weight: bolder;
  font-size: 1.3em;
}
.modalFlexRow {
  margin: 2em 0 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.betInput {
  border: 1px #000000 solid;
  display: block;
  margin: 2em auto 0 auto;
  padding: 3px;
  width: 100px;
}
.betInput:focus {
  border: 1px #000000 solid;
  outline-width: 0;
}
.cancelModal {
  margin-top: 0
}
.confirmModal {
  margin-top: 0;
}
.page-mask.active {
  background: rgb(0, 0, 0);
  opacity: 0.2;
  filter: Alpha(Opacity=50);
}
.warningText {
  font-size: .8em;
  font-weight: bolder;
  margin-bottom: 2em;
  text-align: center;
  color: rgb(255, 0, 0, .8);
}
/* Dashboard */
Img {
  max-width: 150px;
  max-height: 150px;
}
.homeTeamHeader {
  color: #ffffff;
  font-size: .7em;
}
.games {
  width: 80%;
  margin: auto;
  max-width: 100%;
  margin-bottom: 100px;
}
.flexToggle {
  flex-direction: column;
}
.card-footer {
  background-color: #dcdcdc;
}
#scrollBar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
#scrollBar::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}
#scrollBar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ff0000;
}
.leader {
  color: #ff0000;
  padding: 20px;
  background-color: #131317;
  margin-bottom: 0;
  width: 80%;
  margin: auto;
  border: 1px solid #ffffff;
  border-bottom: none;
}
.leaderFlex {
  display: inline-table;
  width: 80%;
  border: #ffffff 1px solid;
  table-layout: fixed;
}
.leaderBoard {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  max-width: 100%
}
.leaderNum {
  font-weight: bolder;
  color: #000000;
  text-align: center;
  width: 10%;
  background: #dcdcdc;
}
.leaderName {
  font-weight: bolder;
  color: #000000;
  text-align: center;
  background: #dcdcdc;
}
.leaderWinnings {
  font-weight: bolder;
  color: #000000;
  text-align: center;
  background: #dcdcdc;
}
/* Bets Log */
.betsHistory {
  background: #dcdcdc;
  color:#000000;
  font-weight: bolder;
  border: solid #ffffff 1px;
  width: 80%;
  display: inline-block;
  text-align: initial;
  max-height: 31em;
  overflow: auto;
}
.betLog:first-child {
  margin-top: 1.2em;
}
.betLog {
  margin-left: 1em;
  padding: .2em;
}
.betsLive {
  color: #ff0000;
  padding: 20px;
  background-color: #131317;
  margin-bottom: 0;
  width: 80%;
  margin: auto;
  margin-top: 95px;
  border: 1px solid #ffffff;
  border-bottom: none;
}
.betHr {
  margin-right: 1em;
  border-color: #7e7e7e;
  border-width: 2px;
}
.logTime {
  font-size: .6em;
  letter-spacing: initial;
}
hr {
  border-color: #a9a9a9;
}
.card {
  background-color: #dcdcdc;
}
.card-footer {
  margin: auto;
  border-top: none;
  
}
.homeTeam {
  max-width: 100%;
  border-bottom: 1px solid #a9a9a9;
  flex: 0 0 35%;
}
.awayTeam {
  max-width: 100%;
  flex: 0 0 35%;
  padding-top: 20px;
}
/* LeaderBoard */
table, th, td {
  border: 2px solid #a9a9a9;
  border-collapse: collapse;
}
th, td {
  padding: 1em;
  text-align: left
}
/* Media Queries */
@media only screen and (min-width: 700px) {
  .flexToggle {
    flex-direction: row;
  }
  .homeTeam {
    border-right: 2px solid #a9a9a9;
    max-width: 50%;
    flex: 1;
    border-bottom: none;
  }
  .awayTeam {
    max-width: 50%;
    flex: 1;
    padding-top: 0px;
  }
}
@media only screen and (min-width: 1124px) {
  .dashboard {
    display: flex;
  }
  .games {
    max-width: 50%;
    flex: 1;
    height: 135vh;
    overflow: auto;
    margin-top: 0;
    padding-right: 0;
  }
  .leaderBoard {
    margin-top: 0px;
  }
}